<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <title>Home page </title>
        <link rel="stylesheet" href="/home.css">
    </head>
        
        
    
    <body>
        <div class="banner">
          <div class="navbar" >
            <p1 class="logo"> <b>CA$H-IT </b></p1>
              <ul class>
                <li><a href ="/">Home</a> </li>
               
                <li><a href ="/api/v1/nearby-users">NearBy Users</a> </li>
                
                <li><a href=#{link} class="log_button">#{value}</a></li>
              </ul>
          </div>
          <div class="content">
            <h1>
                Do you need cash??
            </h1>
            <p>If you need cash you are at right spot.<br>We will help you meet the right person to get cash.  </p> <p>
                  <br><b>JUST CONNECT WITH THEM</b> </p>
            <div>
                  <button type="button"><a href= "/api/v1/nearby-users"> CONNECT</a></button>
            </div>
          </div>
        </div>       
                
            

    </body>

